@model Cinema.Models.ViewModels.HomeViewModel
@{
	ViewData["Title"] = "Home";
}

<div class="text-center min-vh-100 mb-5">
	<h1 class="display-4">Benvenuto</h1>
	<h3>Ecco i film attualmente disponibili</h3>
	<div class="row mb-2 mx-2 justify-content-evenly">
		<div class="row mb-3 col-sm-6">
			<input type="text" id="titleFilter" class="form-control" placeholder="Titolo" />
		</div>
		<div class="row mb-3 col-sm-6">
			<label for="genreFilter"></label>
			<select class="form-select" id="genreFilter" asp-items="Model.Genres">
				<option selected>--Scegli un genere--</option>
			</select>
			<span class="text-danger"></span>
		</div>
		<button class="btn btn-primary" onclick="onFilterClick()">Filtra</button>
	</div>
	<div class="row pb-3">
		@foreach (var filmViewModel in Model.FilmDisplays)
		{
			<div class="col-lg-3 col-md-6 film-card" id="@filmViewModel.Film.Title.ToLower()~@filmViewModel.Film.Genre">
				<div class="row p-2">
					<div class="col-12 p-1" style="border: 1px solid #cf8083; border-radius: 5px">
						<div class="card">
							<img src="@filmViewModel.Film.ImageUrl" class="card-img-top rounded" />
							<div class="card-body">
								<div class="pl-1">
									<p class="card-title h5 text-primary text-truncate">@filmViewModel.Film.Title</p>
									<p class="card-title text-info">Durata: @filmViewModel.Film.Duration</p>
								</div>
								<div class="pl-1 d-flex flex-row justify-content-center">
									@{
										var i = 0;
									}
									@for (; i < filmViewModel.Rating; i++)
									{
										<i class="bi-star-fill yellow icon"></i>
									}
									@if (i != 5 && ((filmViewModel.Rating - i) > 0.25d && (filmViewModel.Rating - i) < 0.75d))
									{
										i++;
										<i class="bi-star-half yellow icon"></i>
									}
									@for (; i < 5; i++)
									{
										<i class="bi-star yellow icon"></i>
									}
								</div>
							</div>
						</div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-filmId="@filmViewModel.Film.FilmId">Dettagli</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>
<section Scripts>
	<script src="~/js/homeFilms.js"></script>
</section>
